<div class="day-forecast-page">
    <div class="main-board">
        <div class="title-table">
            <span class="day-time">{{currentDay}}, {{currentTime}}</span>
            <span class="location">{{currentCity}}, {{currentCountry}}</span>
            <span (click)="toggleFavorite()" class="city-star">
                <img src={{starImagePath}} alt="star">
            </span>
        </div>
        <table>
            <tr class="border">
                <th></th>
                <th *ngFor="let day of forecast" class="border-right">
                    {{day.time.split(' ')[1]}}
                </th>
            </tr>
            <tr>
                <td></td>
                <td *ngFor="let day of forecast">
                    <img class="weather-icon" src={{getConditionIconUrl(day)}} alt="current weather icon">
                </td>
            </tr>
            <tr>
                <td class="weather-paramenters">Temp, &deg;C</td>
                <td *ngFor="let day of forecast" class="text-center text-center--bold">
                    {{day.temp_c | number:'1.0-0'}}
                </td>
            </tr>
            <tr>
                <td class="weather-paramenters">Feels, &deg;C</td>
                <td *ngFor="let day of forecast" class="text-center text-center--bold">
                    {{day.feelslike_c | number:'1.0-0'}}
                </td>
            </tr>
            <tr>
                <td class="weather-paramenters">Press, mmGH</td>
                <td *ngFor="let day of forecast" class="text-center">
                    {{day.pressure_mb}}
                </td>
            </tr>
            <tr>
                <td class="weather-paramenters">Humidity, %</td>
                <td *ngFor="let day of forecast" class="text-center">
                    {{day.humidity}}
                </td>
            </tr>
            <tr>
                <td class="weather-paramenters padding-bottom">Wind, k/h</td>
                <td *ngFor="let day of forecast" class="text-center padding-bottom">
                    {{day.wind_kph | number:'1.0-0'}}
                </td>
            </tr>
        </table>
    </div>
    <div class="main-board-mobile">
        <div class="forecast-info">
            <div class="title">
                <div class="main-info">
                    <div class="location">{{currentCity}}</div>
                    <div class="location">{{currentCountry}}</div>
                    <div class="date">{{currentDay}}, {{currentTime}}</div>
                </div>
                <div class="star-icon"><img src='../../assets/images/icons/star-dark-checked.svg' alt="star"></div>
            </div>
            <table>
                <tr>
                    <td class="border-none"></td>
                    <td class="border-none"></td>
                    <td class="border-none">Temp</td>
                    <td class="border-none">Press</td>
                    <td class="border-none">Wind</td>
                </tr>
                <tr *ngFor="let day of forecast">
                    <td class="weather-info">{{day.time.split(' ')[1]}}</td>
                    <td class="icon-position">
                        <img src={{getConditionIconUrl(day)}} alt="current weather icon" class="weather-icon">
                    </td>
                    <td class="temp-weight">{{day.temp_c | number:'1.0-0'}}&deg;C</td>
                    <td class="weather-info">{{day.pressure_mb}}</td>
                    <td class="border-right-none weather-info">{{day.wind_kph | number:'1.0-0'}}</td>
                </tr>
                <tr>
                    <td class="border-none"></td>
                    <td class="border-none"></td>
                    <td class="border-none"></td>
                    <td class="border-none">mmGh</td>
                    <td class="border-none">k/h</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="button-position">
        <button class="button"(click)="goToForecast()">3-Day forecast</button>
    </div>
</div>