@import "../../styles/styles";
@import "../../styles/variables";
@import "../../styles/button";

.day-forecast-page {
  color: $light-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-board {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

    background-color: $light-background-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 20px;

    @media screen and (max-width: 868px) {
      display: none;
    }

    @media screen and (min-width: $desktop-breakpoint) {
      width: 1150px;
    }

    .title-table {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;

      background-color: $light-additional-background-color;
      border-radius: 20px 20px 0 0;

      .day-time {
        font-size: 30px;
        font-weight: 400;
        margin-left: 15px;
        margin-right: 25px;

        @media screen and (min-width: $tablet-breakpoint) and (max-width: $before-desktop-breakpoint) {
          font-size: 24px;
        }
      }
      .location {
        font-size: 50px;
        font-weight: 500;

        @media screen and (min-width: $tablet-breakpoint) and (max-width: $before-desktop-breakpoint) {
          font-size: 35px;
        }
      }
      .city-star {
        margin-right: 15px;
        margin-left: 25px;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    .border {
      font-size: 20px;

      .border-right {
        font-weight: 400;
      }
    }

    .weather-icon {
      width: 64px;
      height: 64px;
      margin-right: auto;
      margin-left: auto;
    }

    .text-center {
      text-align: center;
      font-weight: 400;

      &--bold {
        font-weight: 500;
      }

      @media screen and (min-width: $tablet-breakpoint) and (max-width: 942px) {
        font-size: 20px;
      }
    }

    .weather-paramenters {
      font-weight: 500;
      font-size: 24px;
      padding-left: 20px;
      padding-right: 10px;

      @media screen and (min-width: 943px) and (max-width: $before-desktop-breakpoint) {
        font-size: 20px;
      }

      @media screen and (min-width: $tablet-breakpoint) and (max-width: 942px) {
        font-size: 16px;
      }
    }

    .padding-bottom {
      padding-bottom: 15px;
    }

    td {
      width: 4%;
      padding: 5px;

      font-size: 24px;

      &:not(:last-child) {
        border-right: solid 1px $dark-text-color;
      }
    }

    th {
      border: solid 1px $dark-text-color;
      padding: 5px;
    }
  }

  .button-position {
    margin-top: 45px;
    @media screen and (max-width: $mobile-breakpoint) {
      margin-top: 33px;
    }
  }

  .main-board-mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;

    @media screen and (min-width: $mobile-breakpoint) and (max-width: 868px) {
      width: 400px;
    }

    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 869px) {
      display: none;
    }

    .forecast-info {
      background-color: $light-background-color;
      text-align: center;
      border-radius: 20px;

      .title {
        background-color: $light-additional-background-color;
        border-radius: 20px 20px 0 0;
        display: grid;
        grid-template-columns: 10fr 2fr;

        .main-info {
          text-align: left;
          padding-left: 25px;
          padding-top: 15px;
          .location {
            font-size: 24px;
            font-weight: 500;
            @media screen and (min-width: $mobile-breakpoint) and (max-width: 868px) {
              font-size: 30px;
            }
          }
          .date {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
            @media screen and (min-width: $mobile-breakpoint) and (max-width: 868px) {
              font-size: 24px;
            }
          }
        }
        .star-icon {
          padding-top: 50px;
          width: 40px;
          height: 40px;
          @media screen and (min-width: $mobile-breakpoint) and (max-width: 868px) {
            padding-top: 68px;
          }
        }
      }

      table {
        border-radius: 0 0 20px 20px;
        background-color: $light-background-color;
        table-layout: fixed;
        width: 100%;

        td {
          padding: 2px;
        }

        .temp-weight {
          font-weight: 600;
        }
        .weather-info {
          font-size: 18px;
        }
        .border-none {
          border: 0;
          font-size: 18px;
          line-height: 21px;
        }
        .icon-position {
          text-align: -webkit-center;
          .weather-icon {
            width: 55px;
            height: 40px;
          }
        }
      }
    }
  }
}
