<div class="values-column-cheked">
    <div class="values-column__title">Monday, 08.02</div>
    <div class="values-column__values-cheked">
        <div class="values-column__subcolumn">
            <div class="values-column__time">
                <p class="time">10:00</p>
            </div>
            <div class="icon-weather">
                <img src={{curentWeatherIconUrl}} alt="current weather image" width="75px" height="75px">
            </div>
            <div>8</div>
            <div>10</div>
            <div>990</div>
            <div>40</div>
            <div>55</div>
        </div>
        <div class="values-column__subcolumn">
            <div class="values-column__time">
                <p class="time">14:00</p>
            </div>
            <div class="icon-weather">
                <img src={{curentWeatherIconUrl}} alt="current weather image" width="75px" height="75px">
            </div>
            <div>8</div>
            <div>10</div>
            <div>990</div>
            <div>40</div>
            <div>55</div>
        </div>
        <div class="values-column__subcolumn">
            <div class="values-column__time">
                <p class="time">18:00</p>
            </div>
            <div class="icon-weather">
                <img src={{curentWeatherIconUrl}} alt="current weather image" width="75px" height="75px">
            </div>
            <div>8</div>
            <div>10</div>
            <div>990</div>
            <div>40</div>
            <div>55</div>
        </div>
    </div>
</div>
