<div class="values-column-cheked">
    <div class="values-column__title">Monday, 08.02</div>
    <div class="values-column__values-cheked">
        <div class="values-column__subcolumn">
            <div class="values-column__time">
                <p class="time">10:00</p>
            </div>
            <div class="icon-weather">
                <img src={{curentWeatherIconUrl}} alt="current weather image" width="75px" height="75px">
            </div>
            <div>8</div>
            <div>10</div>
            <div>990</div>
            <div>40</div>
            <div>55</div>
        </div>
        <div class="values-column__subcolumn">
            <div class="values-column__time">
                <p class="time">14:00</p>
            </div>
            <div class="icon-weather">
                <img src={{curentWeatherIconUrl}} alt="current weather image" width="75px" height="75px">
            </div>
            <div>8</div>
            <div>10</div>
            <div>990</div>
            <div>40</div>
            <div>55</div>
        </div>
        <div class="values-column__subcolumn">
            <div class="values-column__time">
                <p class="time">18:00</p>
            </div>
            <div class="icon-weather">
                <img src={{curentWeatherIconUrl}} alt="current weather image" width="75px" height="75px">
            </div>
            <div>8</div>
            <div>10</div>
            <div>990</div>
            <div>40</div>
            <div>55</div>
        </div>
    </div>
</div>

<div class="values-column-cheked__mobile">
    <div class="values-column-cheked__title">Tuesday, Fabruary 8</div>
    <div class="values-column-cheked__values">
        <div class="weather-icon__container">
            <img class="weather-icon__mobile" src={{curentWeatherIconUrl}} alt="current weather image">
        </div>
        <div>
            <div>Temp</div>
            <div>Feels like</div>
            <div>Pressure</div>
            <div>Humidity</div>
            <div>Wind</div>
        </div>
        <div>
            <div class="values-column-cheked__item">8 °C</div>
            <div class="values-column-cheked__item">10 °C</div>
            <div class="values-column-cheked__item">990 mmGh</div>
            <div class="values-column-cheked__item">40 %</div>
            <div class="values-column-cheked__item"> 55 m/s</div>
        </div>
    </div>
</div>
