<header class="header" [ngClass]="{'dark-mode': isDarkMode}">
    <div class="container header-container">
        <a href="#" class="logo">TEAM SOUL <br> WEATHER APP</a>
        <app-search></app-search>
        <div class="favourite-list-block">
            <app-fovorites-list></app-fovorites-list>
        </div>

        <div class="language-switcher"><span>EN</span> | <span class="inactive">UA</span></div>
        <div class="theme-switcher">
            <p class="theme-switcher_description">Dark Mode</p>

            <!-- WE STILL NEED TO DISCUSS HOW TO USE SVG ICONS AND REPLACE BROKEN ICONS -->

            <!-- <svg class="icon" width="30" height="16">
                <use href="../../assets/images/icons/sprite.svg#icon-switch-theme-light" />
            </svg> -->

            <!-- <svg width="60" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="58" height="30" rx="15" fill="#fff" stroke="#5A5A5A" stroke-width="2" />
                <circle cx="16" cy="16" r="12" fill="#5A5A5A" />
            </svg> -->

            <img class="icon light" src="../../assets/images/icons/switch-theme-light.svg" />
            <img class="icon dark" src="../../assets/images/icons/switch-theme-dark.svg" />
        </div>
    </div>
</header>