<header class="header">
    <div class="container header-container">
        <a href="#" class="logo">TEAM SOUL <br> WEATHER APP</a>
        <div class="search-block"></div>
        <div class="favourite-list-block"></div>
        <div class="language-switcher"><span>EN</span> | <span class="non-active-language">UA</span></div>
        <div class="theme-switcher">
            <p>Dark Mode</p>
            <!-- <svg class="icon" width="30" height="16">
                <use href="../../assets/images/icons/switch-theme-light.svg" />
            </svg> -->
        </div>
    </div>
</header>