<header class="header" >
    <div class="container header-container">
        <span class="logo" (click)="goToHomePage()">
            <div class="logo--wrapper">
                <span class="logo--text">S</span>
                <img src="../../assets/images/icons/logo-sun.svg" class="logo--image" />
                <span class="logo--text">ul</span>
            </div>
            <span>Weather</span>
        </span>
        <span class="logo--mobile" (click)="goToHomePage()">
            <div class="logo--wrapper">
                <img src="../../assets/images/icons/logo-sun.svg" class="logo--image" />
            </div>
        </span>

        <app-search></app-search>
        
        <div class="favourite-list-block">
            <app-favorite-list></app-favorite-list>
        </div>
        
        <div class="theme-switcher">
            <svg class="theme-switcher__icon ">
                <use  href="../../assets/images/icons/sprite.svg#sun"></use>
            </svg>
            <div class="theme-switcher__control" >
                <input (click)="onThemeSwitcherButtonClick()" [checked]="isChecked" class="theme-switcher__toggle" type="checkbox" name="theme" id="theme-switcher-toggle"/>
                <label class="theme-switcher__track" for="theme-switcher-toggle"> </label>
                <div class="theme-switcher__marker"></div>
            </div>
            <svg class="theme-switcher__icon theme-switcher__icon--moon">
                <use href="../../assets/images/icons/sprite.svg#moon"></use>
            </svg>
        </div>

    </div>
</header>