@import "../../styles/variables";
@import "../../styles/styles.scss";
@import "../../styles/button";

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 70px;
}

.main-board {
  align-self: center;

  background-color: $light-background-color;

  border-radius: 20px;
}

.main-info {
  color: $light-text-color;
  font-size: 20px;
}

.main-info__title-container {
  display: grid;
  grid-template-columns: 80% 20%;
  align-content: center;
  justify-items: flex-end;
  height: 100px;

  background-color: $light-additional-background-color;

  border-radius: 20px 20px 0px 0px;
}

.main-info__title {
  font-size: 50px;
  font-weight: 500;
}

.main-info__title-favorite {
  font-size: 50px;
  padding-right: 30px;
}

.main-info__values-container {
  display: flex;
}

.values-column-list {
  display: grid;
  grid-template-rows: 12.25% 87.5%;
  width: 220px;

  text-align: center;
}

.values-column__title-list {
  border-top: 1px solid $light-additional-text-color;
}

.values-column__values-list {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr;
  text-align: left;
  justify-content: center;

  font-size: 24px;
  font-weight: 500;
}

.values-column {
  display: grid;
  grid-template-rows: 12% 88%;
  padding-bottom: 8px;

  text-align: center;

  border: 1px solid $light-additional-text-color;
  border-bottom: none;
  border-right: none;
}

.values-column__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;

  font-size: 24px;
  font-weight: 500;
}

.values-column__values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.values-column__subcolumn {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
}

.values-column__time {
  display: flex;
  align-items: center;

  font-size: 18px;

  border-top: 1px solid $light-additional-text-color;
  border-bottom: 1px solid $light-additional-text-color;
}

.time {
  width: 100%;
}

.icon-weather {
  align-self: flex-end;
  justify-self: center;
}

.values-column__text--bold {
  font-weight: 500;
}

.values-column__mobile {
  display: none;
}

.buttons {
  margin: 0 auto;
  padding-top: 30px;
}

.button {
  color: $light-text-color;
}

// @media screen and (min-width: 480px) and (max-width: 1080px) {
//   .main-board {
//     margin-right: auto;
//     margin-left: auto;
//     width: 80%;
//   }
// }

@media screen and (max-width: 900px) {
  .mobile {
    display: inline-block;
  }

  .main-info__values-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .main-info__title {
    font-size: 30px;
    font-weight: 500;
    padding-left: 15px;
  }

  .main-info__title-container {
    height: 110px;
    border-bottom: 1px solid $light-additional-text-color;
  }

  .main-info__title-favorite {
    font-size: 50px;
    padding-right: 15px;
  }

  .values-column-list {
    display: none;
  }

  // .values-column {
  //   width: 100%;
  //   height: 50px;
  //   display: flex;
  //   border: none;
  //   border-bottom: 1px solid $light-text-color;
  //   background-color: $light-background-color;
  // }

  // .values-column:last-child {
  //   border: none;
  // }

  .values-column__title {
    justify-self: center;
    align-self: center;
    font-size: 24px;
    width: 25%;
    background-color: $light-background-color;
    border: none;
  }

  .values-column__values {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $light-background-color;
    border: none;
  }

  .feels {
    display: none;
  }

  .humidity {
    display: none;
  }

  .wind {
    display: none;
  }

  .icon-weather {
    align-self: center;
    justify-self: center;
    width: 40px;
    height: 40px;
  }

  .press {
    font-size: 20px;
  }

  .container {
    height: 700px;
    padding: 10px;
  }

  .main-board {
    margin-top: 50px;
    height: 700px;
  }

  .values-column {
    width: 100%;
    border: none;
    padding: 10px 0px;
  }
}

@media screen and (max-width: 900px) {
  .values-column {
    display: none;
  }

  .values-column__mobile {
    display: block;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid $light-text-color;
  }

  .values-column-cheked__title {
    width: 100%;
  }

  .values-column-cheked__values {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 0px;
  }

  .weather-icon__container {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .weather-icon__mobile {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  .values-column-cheked__item {
    text-align: center;
  }
}
