@import "./variables";

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile-breakpoint) {
    width: $mobile-breakpoint;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    width: $tablet-breakpoint;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    width: $desktop-breakpoint;
  }
}
