/* You can add global styles to this file, and also import other style files */
@import "./variables";

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper.dark-mode {
  .button {
    background-color: $dark-background-color;
  }

  .header {
    color: $dark-text-color;
    background-color: $dark-background-color;
    border-bottom: 1px solid $dark-text-color;

    .language-switcher .inactive {
      color: $dark-additional-text-color;
    }

    .theme-switcher__marker {
      background-color: $light-text-color;
    }
  }

  .footer {
    color: $dark-text-color;
    background-color: $dark-background-color;
    border-top: 1px solid $dark-text-color;
  }

  .landing-page {
    color: $dark-text-color;

    .bg-img {
      .main-board {
        @media screen and (min-width: $tablet-breakpoint) {
          background-color: $dark-background-color;
        }
      }
    }
    @media screen and (max-width: $before-tablet-breakpoint) {
      .bg-img {
        background-image: url(../assets/images/dark-mobile-background.png);
      }
    }
  }

  .day-forecast-page {
    color: $dark-text-color;

    .main-board {
      background-color: $dark-background-color !important;
      .title-table {
        background-color: $dark-additional-background-color !important;
      }
    }

    table {
      border: none !important;
      .border-left-none {
        border-left: none !important;
      }
      .border {
        color: $dark-text-color !important;
        .weather-parameters {
          color: $dark-text-color !important;
        }
        .border-none {
          border-right: solid 1px $dark-additional-text-color !important;
        }
        .border-right {
          border-right: solid 1px $dark-additional-text-color !important;
        }
      }
    }
    table td {
      border-right: solid 1px $dark-additional-text-color !important;
    }
    table th {
      border: solid 1px $dark-additional-text-color !important;
    }
    .main-board-mobile {
      .forecast-info {
        background-color: $dark-background-color !important;

        .title {
          background-color: $dark-additional-background-color !important;
          border-bottom: 1px solid $dark-additional-text-color;
        }
        table {
          background-color: $dark-background-color !important;
        }
      }
    }
  }

  .visible.loader {
    background-color: $dark-additional-background-color-opacity90;
  }
}
