/* You can add global styles to this file, and also import other style files */
@import "./variables";

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.forecast {
  border: none;
  background-color: white;
  box-shadow: 0 4px 5px rgb(0 0 0 / 25%);
  color: $light-text-color;
  height: 35px;
  width: 220px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
}

.dark-mode {
  .forecast {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }
}

// .wrapper.dark-mode {
//   .header {
//     color: $dark-text-color;
//     background-color: $dark-background-color;

//     .logo {
//       color: $dark-text-color;
//     }

//     .favourite-list-block {
//       border-bottom: 1px solid $dark-text-color;

//       .icon.light {
//         display: none;
//       }
//     }

//     .search-block {
//       border: 1px solid $dark-text-color;
//     }

//     .language-switcher .inactive {
//       color: $dark-additional-text-color;
//     }

//     .theme-switcher {
//       .icon.light {
//         display: none;
//       }

//       .icon.dark {
//         display: block;
//       }
//     }
//   }
// }
