@import "../../styles/variables";
@import "../../styles/container";

.input-container {
  display: inline-block;
  position: relative;
  padding-top: 25px;
}

mat-form-field {
  width: 400px;
  @media screen and (min-width: $tablet-breakpoint) {
    width: 400px;
  }
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 50px 0 0 50px !important;
  border: 1px 0 0 1px solid $light-additional-text-color !important;
  border-color: $light-text-color !important;
  min-width: 50% !important;
  background-color: $light-background-color;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 50px 50px 0 !important;
  border: 1px 0 0 1px solid $light-additional-text-color !important;
  background-color: $light-background-color;
  border-color: $light-text-color !important;
}

::ng-deep .mat-option-text {
  color: $light-text-color;
  font-family: "Montserrat", sans-serif;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 2px !important;
}

input::placeholder {
  color: $dark-text-color;
  font-family: "Montserrat", sans-serif;
}

.placeholder-position {
  margin-bottom: 3.5px;
  color: $light-text-color;
  font-family: "Montserrat", sans-serif;
}

.error-message {
  position: absolute;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  position: absolute;
  top: 65px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: none;
  transition: transform 250ms ease;
}

@media screen and (max-width: $tablet-breakpoint) {
  mat-form-field {
    width: 50vw;
  }
}

@media screen and (min-width: 660px) and (max-width: $tablet-breakpoint) {
  mat-form-field {
    width: 280px;
  }
}