<div class="landing-page">
    <div class="main-board">
        <div class="main-info">
            <div class="location">
                {{currentCity}}, {{currentCountry}}
            </div>
            <div class="date">
                {{currentDay}}, {{currentTime}}
            </div>
            <div class="weather">
                <span class="icon-weather">
                    <img src={{curentWeatherIconUrl}} alt="current weather image">
                </span>
                 <span class="degrees">{{currentDegrees}} &deg;C</span>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="button" type="button" [routerLink]="[ 'details', currentCity ]">1-Day forecast</button>
        <button class="button" type="button" [routerLink]="[ 'forecast', currentCity ]">3-Day forecast</button>
    </div>
</div>
