.wrapper {
  position: relative;

  width: 100vw;
  height: 100vh;

  background-image: url(../assets/images/images/night.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.night {
  background-image: url(../assets/images/images/night.png);
}

.morning {
  background-image: url(../assets/images/images/morning.png);
}

.day {
  background-image: url(../assets/images/images/day.png);
}

.evening {
  background-image: url(../assets/images/images/evening.png);
}
